$blk: #010001;
$dbase: #1a1a1a;
$base: #5a5a5a;

$lg : #efefef;
$lmg: #f1f1f1;
$white: #fefefe;
$pwhiteBg : #ffffff;
$silver: #e4e4e4;

$green : #1fa56e;
$hRed: #e01b4a;

$brf: 'Montserrat';
$lb: 'Libre Baskerville';
